einops==0.4.1
imageio==2.31.2
kornia==0.6.5
matplotlib==3.5.2
numpy==1.21.5
opencv_python==4.6.0.66
pytorch_lightning==1.7.7
scikit_learn==1.0.2
setuptools==65.6.3
torch_scatter==2.0.9
torchmetrics==0.11.4
tqdm==4.66.1
